// Variables

//
// Color system
//

// stylelint-disable
$white:    #fff !default;
$gray-100: #f5f5f5 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$text-color: #333 !default;
$headings-color: #111 !default;
$footer-background: #ff360d !default;
$social-icon: #4c4c4c !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
        '100': $gray-100,
        '200': $gray-200,
        '300': $gray-300,
        '400': $gray-400,
        '500': $gray-500,
        '600': $gray-600,
        '700': $gray-700,
        '800': $gray-800,
        '900': $gray-900
), $grays);

$dark:    #333 !default;
$darker:  #222 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #ff360d !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
$colors: map-merge((
        'blue':       $darker,
        'indigo':     $dark,
        'purple':     $purple,
        'pink':       $pink,
        'red':        $red,
        'orange':     $orange,
        'yellow':     $yellow,
        'green':      $green,
        'teal':       $teal,
        'cyan':       $cyan,
        'white':      $white,
        'gray':       $gray-600,
        'gray-dark':  $gray-800
), $colors);

// stylelint-enable

// Set a specific jump point for requesting color jumps
$color-interval:      8% !default;

// The yiq lightness value that determines when the lightness of color changes from 'dark' to 'light'. Acceptable values are between 0 and 255.
$contrast-threshold: 150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$color-text-dark: $gray-900 !default;
$color-text-light: $white !default;