// Links
//
// Style anchor elements.

$link-color:                color('blue') !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15) !default;
$link-hover-decoration:     underline !default;

// Paragraphs
//
// Style p element.
$paragraph-margin-bottom:   1rem !default;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      'Roboto', sans-serif !default;
$font-family-body:            'OpenSans', -apple-system, BlinkMacSystemFont, sans-serif !default;
$font-family-awesome:         'Font Awesome 5 Free', sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, monospace !default;
$font-family-base:            $font-family-sans-serif !default;

// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;

$font-weight-light:           100 !default;
$font-weight-normal:          300 !default;
$font-weight-medium:          400 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.4 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.625 !default;
$h4-font-size:                $font-size-base * 1.375 !default;
$h5-font-size:                $font-size-base * 1.125 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      1rem !default;
$headings-font-family:        $font-family-sans-serif !default;
$headings-font-weight:        300 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;

$lead-font-size:              ($font-size-base * 1.25) !default;
$lead-font-weight:            300 !default;

$small-font-size:             80% !default;

// Printing
$print-page-size:             a3 !default;
$print-body-min-width:        map-get($grid-breakpoints, 'lg') !default;
