// Use $font-path from _vars/_base.scss as path to fonts folder or update it here
// Use https://transfonter.org/ to generate fonts and update font path here
// Default font path (relative to style.css) is ./src/fonts (that is value of $font-path)

// OpenSans
@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Light'),
    url('#{$font-path}/OpenSans/OpenSans-Light.woff') format('woff'),
    url('#{$font-path}/OpenSans/OpenSans-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Regular'),
    url('#{$font-path}/OpenSans/OpenSans-Regular.woff') format('woff'),
    url('#{$font-path}/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Italic'),
    url('#{$font-path}/OpenSans/OpenSans-Italic.woff') format('woff'),
    url('#{$font-path}/OpenSans/OpenSans-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Bold'),
    url('#{$font-path}/OpenSans/OpenSans-Bold.woff') format('woff'),
    url('#{$font-path}/OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-BoldItalic'),
    url('#{$font-path}/OpenSans/OpenSans-BoldItalic.woff') format('woff'),
    url('#{$font-path}/OpenSans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

// Roboto
@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Light'),
  url('#{$font-path}/Roboto/Roboto-Light.woff') format('woff'),
  url('#{$font-path}/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Regular'),
  url('#{$font-path}/Roboto/Roboto-Regular.woff') format('woff'),
  url('#{$font-path}/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Italic'),
  url('#{$font-path}/Roboto/Roboto-Italic.woff') format('woff'),
  url('#{$font-path}/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Bold'),
  url('#{$font-path}/Roboto/Roboto-Bold.woff') format('woff'),
  url('#{$font-path}/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-BoldItalic'),
  url('#{$font-path}/Roboto/Roboto-BoldItalic.woff') format('woff'),
  url('#{$font-path}/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}