// sass-lint:disable no-important, single-line-per-selector

body {
  color: $text-color;
  font-family: $font-family-body;
  @include spacing(20);

  a {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}

//
// Headings
//

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  @include spacing(100);
}

h1, %h1 { font-size: $h1-font-size; font-weight: 700;}
h2, %h2 { font-size: $h2-font-size; font-weight: 700;}
h3, %h3 { font-size: $h3-font-size; font-weight: 700;}
h4, %h4 { font-size: $h4-font-size; font-weight: 700;}
h5, %h5 { font-size: $h5-font-size; font-weight: 700;}
h6, %h6 { font-size: $h6-font-size; font-weight: 700;}

.lead,
%lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}

//
// Emphasis
//

small,
%small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
}

