// sass-lint:disable-block no-vendor-prefixes
@mixin ie {

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }

    @supports (-ms-ime-align: auto) {
        @content;
    }
}
