.single-news {
  margin-bottom: 100px;

  .post-nav {
    padding: 90px 0 60px;

    .right {
      text-align: right;

      a {
        justify-content: flex-end;
      }

      i {
        margin-left: 10px;
      }
    }

    .left {
      text-align: left;

      i {
        margin-right: 10px;
      }
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: .875em;
      color: $text-color;
      @include transition;

      &:hover {
        color: $darker;
        text-decoration: none;

        i {
          background: $darker;
        }
      }

      i {
        padding: 6px;
        background: $dark;
        border-radius: 5px;
        color: $white;
        width: 25px;
        height: 25px;
      }
    }
  }


  .entry-title {
    font-size: 1.625em;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;

  }

  .date {
    font-size: .875em;
    font-weight: 100;
  }

  .image-wrap {

    .blog-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 320px;
    }
  }

  .default-image {
    width: 100%;
  }
}

.social-sharing {
  text-align: center;
  margin: 30px auto 0;

  .social-sharing-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;

    .social-sharing-button {
      display: inline-block;
      margin: 0 5px;

      i {
        font-size: 2em;
      }
    }
  }
}

.single-post {

  .blog {
    background: $gray-100;
    padding: 100px 0;
    margin-bottom: 50px;

    .post {
      background: $white;
    }

    .see-more {
      margin: 0 auto;

      &:hover {
        color: $white;
      }
    }
  }
}
