.entry-content {
  margin: 20px 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $black;
    margin-bottom: .5em;
  }

  p {
    font-size: .875em;
    line-height: 1.875em;
  }

  ul {
    font-size: .875em;
    list-style: disc;
    padding-left: 40px;
    margin-top: 1.2em;
    margin-bottom: 1.2em;

    li {
      margin-bottom: 5px;
    }
  }

  ol {
    font-size: .875em;
    padding-left: 40px;
    margin-top: 1.2em;
    margin-bottom: 1.2em;

    li {
      margin-bottom: 5px;
    }
  }

  a {
    text-decoration: underline;

    &:not(.button) {
      color: mix($white, $black, 20);

      &:hover {
        color: $darker;
      }
    }
  }

  .ac {
    margin: 20px 0;
  }

  .loop {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 40px;
    margin: -20px;
    padding: 4px;
    opacity: 0;
    transition: .2s;

    &::before {
      @include ab;
      width: 25px;
      height: 25px;
      border: 4px solid $darker;
      border-radius: 50%;
      background-color: transparent;
    }

    &::after {
      @include ab;
      background-color: $darker;
      bottom: 5px;
      left: 25px;
      width: 4px;
      height: 13px;
      display: block;
      transform: rotate(-45deg);
    }
  }

  .image-wrap {

    img {
      width: 100%;
      height: auto;
    }
  }

  .add-content {
    margin-top: 30px;
  }

  .single-image-wrapper {
    position: relative;

    a {
      position: relative;
      display: block;
      @include transition;

      .loop {

        &::before {
          border-color: $white;
        }

        &::after {
          background-color: $white;
        }
      }

      &:hover {

        img {
          opacity: .8;
          filter: alpha(opacity=80);
        }

        .loop {
          opacity: 1;
        }
      }
    }

    .si-description {
      position: relative;
      width: 100%;

      p {
        position: relative;
        background: $gray-100;
        line-height: 1.2;
        margin-bottom: 0;
        padding: 10px;
        font-style: italic;
        z-index: 5;
      }
    }
  }

  .gallery-wrapper {

    .gallery-wrap {

      .images {
        display: flex;
        justify-content: center;
        //align-items: center;
        flex-wrap: wrap;

        .image {
          position: relative;
          width: 100%;
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            //display: block;
            //overflow: hidden;
            //
            //@include media-up(m) {
            //  position: absolute;
            //  left: 0;
            //  top: 0;
            //  width: 100%;
            //  height: 100%;
            //}

            //img {
            //
            //  @include media-up(m) {
            //    position: absolute;
            //    left: 50%;
            //    top: 50%;
            //    transform: translate(-50%, -50%) scale3d(1, 1, 1);
            //    max-width: initial;
            //    width: auto;
            //    min-width: 100%;
            //    height: 100%;
            //  }
            //}

            &:hover {

              img {
                opacity: .5;
                filter: alpha(opacity=50);
              }

              .loop {
                opacity: 1;
              }
            }
          }

          @include media-up(m) {
            width: calc(50% - 15px);
            //height: 200px;
            height: 100%;
            margin-bottom: 30px;

            &:nth-child(odd) {
              margin-right: 15px;
            }

            &:nth-child(even) {
              margin-left: 15px;
            }
          }

          //@include media-up(l) {
          //  height: 175px;
          //}
          //
          //@include media-up(xl) {
          //  height: 220px;
          //}
        }
      }
    }
  }
}