//sass-lint:disable-block placeholder-in-extend
.section {

  &.category {

    .category-list {
      padding: 60px 0 30px;
      text-align: center;

      .inv-button {
        font-family: $font-family-sans-serif;
        font-size: 1.25em;
        border-color: transparent;
        margin: 10px 15px;

        @include media-down(m) {
          font-size: 1em;
          margin: 5px 15px;
        }
      }
    }
  }

  &.news,
  &.post-archive {
    padding: 40px 0 100px;

    .section-title {
      text-align: center;
      text-transform: uppercase;
    }

    .posts {
      margin-bottom: 40px;
      justify-content: center;
    }

    a {
      margin-top: 60px;
      color: inherit;

      &:hover {
        color: inherit;
        text-decoration: none;

        img {
          transform: scale(1.1);
        }

        .post {

          .excerpt {

            .read-more {
              right: -50px;

              &:after {
                width: 0;
                right: 0;
              }

              &:before {
                width: 40px;
                left: -50px;
              }
            }
          }
        }

      }
    }

    .link {

      &:nth-child(even) {
        @extend .ofs_m1;
      }
    }

    .post {

      .blog-image {
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          @include transition(3s)
        }
      }

      .date-title {
        padding: 10px 20px;
        font-family: $font-family-sans-serif;

        p,
        h2 {
          margin: 0;
        }

        .date {
          font-size: .875em;
          font-weight: 100;
        }

        .entry-title {
          font-size: 1.5em;
          font-weight: 300;
          text-transform: uppercase;
        }

      }

      .excerpt {
        padding: 0 15px;
        font-size: .875em;

        .read-more {
          position: relative;
          font-weight: 600;
          color: $headings-color;
          right: 0;
          @include transition;

          &:hover {
            color: $dark;
          }

          &:before,
          &:after {
            content: '';
            display: block;
            height: 2px;
            background: $darker;
            position: absolute;
            top: 8px;
            @include transition(1s);
          }

          &:before {
            width: 0;
            left: 0;
          }

          &:after {
            width: 30px;
            right: -40px;
          }
        }
      }
    }

    .see-more {
      margin: 0 auto;

      &:hover {
        color: $white;
      }
    }
  }

}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;

    li {
      display: inline-block;
      border: 1px solid $gray-400;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 28px;
      @include transition;

      &:hover {
        border: 1px solid $red;
      }

      &.active {
        border: 1px solid $orange;
        background: $orange;
        color: $white;

        a {
          color: $white;
        }
      }

      a {
        color: $black;
        padding: 3px;


        &:hover {
          color: $darker;
        }
      }

      i {
        font-size: .75em;
      }
    }
  }
}

.post {
  margin: 60px auto;

  .share-content {

    i {
      font-size: 1.4em;
      margin: 10px;
      color: $orange;
      @include transition;

      &:hover {
        color: $dark;
      }
    }
  }

  .divider {
    padding: 40px 0;

    &:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: $gray-400;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.video-container {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  margin-top: 30px auto;
  overflow: hidden;

  &.-external {
    height: 100%;

    iframe {
      width: 100%;
      background: $dark;
      transition: 1s;
    }
  }

  .video {
    width: 100%;
    height: 100%;
    background: $dark;
    padding: 0;
    transition: 1s;
    z-index: 0;
  }
}