.contact-wrapper {
  padding: 100px 0;

  .ask {
    margin-bottom: 60px;

    .c-image {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 300px;
    }

    .box {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      background: $dark;
      padding: 60px;
      @include make-col(12);

      @include media-up(m) {
        top: 0;
        left: 0;
        transform: none;
        height: 100%;
        @include make-col(4);
      }
    }

    .ask-title {
      color: $white;
      text-align: center;
      margin-bottom: 0;
      padding: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  .location-info {
    padding: 100px 0;
    font-size: 1.4em;
  }
}

.contact-form {
  margin-top: 60px;

  .title {
    text-align: center;
    text-transform: uppercase;
  }

  .wpcf7 {
    margin-top: 40px;
  }

  .wpcf7-form-control-wrap {
    display: block;

    @include media-up(l) {
      margin: 0 10px 20px;
    }
  }

  .wpcf7-not-valid-tip {
    font-size: .735em;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;

    * {
      width: 100%;
    }

    @include media-up(l) {
      flex-wrap: wrap;
      flex-direction: row;

    }

    @include media-up(l) {
      flex-wrap: nowrap;
    }

    .input {
      width: 100%;
      min-height: 48px;
      margin: auto;
      padding: 10px 20px;
      background: $white;
      border: 1px solid $gray-500;
      border-radius: 3px;
      font-size: .875em;

      &:focus {
        border-color: $dark;
        outline: 0;
      }
    }

    form {
      width: 100%;
    }
  }

  .bottom {

    @include media-down(l) {
      margin-top: 20px;
    }

    .text-area {
      width: 100%;
      min-height: 48px;
      margin: auto;
      padding: 10px 20px;
      border: 1px solid $gray-500;
      border-radius: 3px;
      font-size: .875em;

      &:focus {
        border-color: $dark;
        outline: 0;
      }
    }
  }

  .submit-wrap {
    text-align: right;
    margin-top: 10px;

    @include media-up(l) {
      margin-right: 10px;
    }
  }

  .ajax-loader {
    display: none;
  }

  .button {
    cursor: pointer;
  }
}
