.faq {
  margin: 60px 0 100px;

  a {
    color: $darker;
  }

  .qa {
    background: $gray-100;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 0;
  }

  .q-part {
    position: relative;
    cursor: pointer;
    @include transition;

    &:hover {
      background-color: $darker;

      .question {
        color: $white;
      }

      i {
        color: $white;
      }
    }

    &.active {

      &:hover {
        background-color: $gray-100;

        .question {
          color: $dark;
        }

        i {
          color: inherit;
        }
      }

      i {

        &.fa-minus-circle {
          display: block;
        }

        &.fa-plus-circle {
          display: none;
        }
      }
    }

    .question {
      color: $color-text-dark;
      text-transform: uppercase;
      margin: 0;
      padding: 30px;
      padding-right: 60px;
    }

    i {
      position: absolute;
      top: 50%; right: 20px;
      transform: translate(-50%, -50%);

      &.fa-minus-circle {
        display: none;
      }

      &.fa-plus-circle {
        display: block;
      }
    }
  }

  .answer {
    display: none;
    background: $gray-100;
    padding: 0 30px 30px;

    p {
      color: $color-text-dark;
      font-size: .875em;
      line-height: 26px;
      margin-bottom: 0;
    }
  }
}

