.home {

  .blocks {
    padding: 70px 0 100px;

    .b-link {
      margin-top: 34px;

      &:hover {

        .item_c {
          opacity: 1;
          z-index: 1;

          &_line-l,
          &_line-r {
            height: 100%;
          }

          &_line-t,
          &_line-b {
            width: 100%;
          }
        }

        .b-image {

          &:before {
            opacity: 1;
            width: 100%;
            height: 100%;
          }

          .title-wrap {
            background: none;
          }
        }
      }

      .item_c {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        @include transition(1s);

        &_lines {
          position: absolute;
          top: 20px;
          right: 35px;
          bottom: 20px;
          left: 35px;
        }

        &_line-b,
        &_line-l,
        &_line-r,
        &_line-t {
          position: absolute;
          background-color: #fff;
          @include transition(.4s);
        }

        &_line-l,
        &_line-r {
          width: 2px;
          height: 0;
        }

        &_line-t,
        &_line-b {
          width: 0;
          height: 2px;
        }

        &_line-t {
          top: 0;
          left: 0;
        }

        &_line-r {
          top: 0;
          right: 0;
        }

        &_line-b {
          bottom: 0;
          right: 0;
        }

        &_line-l {
          bottom: 0;
          left: 0;
        }
      }

      .b-image {
        position: relative;
        height: 230px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        @include media-down(m) {
          height: 150px;
        }

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: rgba($black, .35);
          opacity: 0;
          @include transition(.4s);
        }

        .title-wrap {
          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%, -50%);
          background: rgba($black, .35);
          height: auto;
          width: 100%;
          text-align: center;
          @include transition;

          .b-title {
            margin: 0;
            padding: 30px 10px;
            color: $white;
            font-size: 1.625rem;
            font-weight: 300;
            line-height: 1.2;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .blog {
    padding: 100px 0;

    .section-title {
      text-align: center;
      text-transform: uppercase;
    }

    .posts {
      margin-bottom: 40px;
      justify-content: center;
    }

    a {
      margin-top: 30px;
      color: inherit;

      &:hover {
        color: inherit;
        text-decoration: none;

        img {
          transform: scale(1.1);
        }

        .post {

          .excerpt {

            .read-more {
              right: -50px;

              &:after {
                width: 0;
                right: 0;
              }

              &:before {
                width: 40px;
                left: -50px;
              }
            }
          }
        }

      }
    }

    .post {

      .blog-image {
        position: relative;
        width: 100%;
        overflow: hidden;
        background-color: $black;
        text-align: center;

        * {
          transition: all 0.35s ease;
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transition: all 0.35s ease;
          background-color: $black;
          border-left: 3px solid $white;
          border-right: 3px solid $white;
          opacity: 0.9;
          z-index: 1;
        }

        &:before {
          transform: skew(45deg) translateX(-155%);
        }

        &:after {
          transform: skew(45deg) translateX(155%);
        }

        &:hover {

          > img {
            opacity: 0.5;
          }

          &:before {
            transform: skew(45deg) translateX(-55%);
          }

          &:after {
            transform: skew(45deg) translateX(55%);
          }

          .read-more {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
          }
        }

        .image {
          backface-visibility: hidden;
        }

        .read-more {
          top: 50%;
          left: 50%;
          position: absolute;
          margin: 0;
          padding: 5px 10px;
          transform: translate(-50%, -50%) scale(.5);
          box-shadow: 0 0 10px $black;
          background-color: $black;
          border: 2px solid $white;
          color: $white;
          font-size: 1em;
          text-transform: uppercase;
          opacity: 0;
          z-index: 2;
        }

        .image {
          width: 100%;
          height: auto;
          @include transition(3s)
        }
      }

      .date-title {
        padding: 20px;
        font-family: $font-family-sans-serif;

        p,
        h2 {
          margin: 0;
        }

        .date {
          font-size: .875em;
          font-weight: 100;
        }

        .entry-title {
          font-weight: 300;
          text-transform: uppercase;
        }

      }

      .excerpt {
        padding: 0 15px;
        font-size: .875em;

        .read-more {
          position: relative;
          font-weight: 600;
          color: $headings-color;
          right: 0;
          @include transition;

          &:hover {
            color: $dark;
          }

          &:before,
          &:after {
            content: '';
            display: block;
            height: 2px;
            background: $darker;
            position: absolute;
            top: 8px;
            @include transition(1s);
          }

          &:before {
            width: 0;
            left: 0;
          }

          &:after {
            width: 30px;
            right: -40px;
          }
        }
      }
    }

    .see-more {
      margin: 0 auto;

      &:hover {
        color: $white;
      }
    }
  }
}

.products {
  padding: 100px 0 20px;

  .section-title {
    text-align: center;
  }

  .section-subtitle {
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    padding: 2px;
    grid-auto-rows: minmax(100px, auto);

    &.four {
      min-height: calc(100vh - 1rem);
    }

    &.eight {
      min-height: calc(200vh - 1rem);
    }

    &.twelve {
      min-height: calc(300vh - 1rem);
    }

    @include media-down(s) {
      display: flex;

      .product_category {
        min-height: 50vh;
      }
    }
  }

  .link {
    height: 100%;
    padding: 0;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($black, .25);
    }

    &:nth-child(1) {
      grid-column: 1/3;
      grid-row: 1/3;
    }

    &:nth-child(2) {
      grid-column: 3/5;
      grid-row: 1/2;
    }

    &:nth-child(3) {
      grid-column: 3/4;
      grid-row: 2/3;
    }

    &:nth-child(4) {
      grid-column: 4/5;
      grid-row: 2/3;
    }

    &:nth-child(5) {
      grid-column: 1/3;
      grid-row: 3/3;
    }

    &:nth-child(6) {
      grid-column: 1/2;
      grid-row: 4/4;
    }

    &:nth-child(7) {
      grid-column: 2/2;
      grid-row: 4/4;
    }

    &:nth-child(8) {
      grid-column: 3/5;
      grid-row: 3/5;
    }

    &:hover {

      .product_category {
        opacity: .35;
        transform: scale(1.1);
        @include transition(2s);
      }
    }

    &.-cat {
      position: relative;
      overflow: hidden;
      background-color: $black;

      * {
        transition: all .55s ease;

        &:before, &:after {
          box-sizing: border-box;
          transition: all .55s ease;
        }
      }

      .title-wrap {
        position: absolute;
        top: 65%;
        left: 10%;
        padding: 10px;
        text-align: left;
        z-index: 1;

        @include media-up(s) {
          top: 80%;
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
          height: 2px;
          width: 400px;
          background-color: $white;
        }

        &:before {
          top: 0;
          left: 10px;
          transform: translateX(350%);
        }

        &:after {
          bottom: 0;
          right: 10px;
          transform: translateX(-350%);
        }

        .title {
          margin: 0;
          color: $white;
          text-transform: uppercase;

          &:before,
          &:after {
            content: '';
            position: absolute;
            width: 2px;
            height: 300px;
            background-color: $white;
          }

          &:before {
            top: 10px;
            right: 0;
            transform: translateY(350%);
          }

          &:after {
            bottom: 10px;
            left: 0;
            transform: translateY(-350%);
          }
        }
      }

      .desc-wrap {
        position: absolute;
        bottom: 35%;
        left: 10%;
        padding: 10px 50px 5px 10px;
        font-size: .8em;
        color: $white;
        text-align: left;
        opacity: 0;
        @include spacing(15);

        @include media-up(s) {
          bottom: 20%;
        }

        .desc {
          margin: 0;
        }
      }

      &:hover {

        .title-wrap {

          &:before,
          &:after {
            transform: translate(0, 0);
            transition-delay: .15s;
          }
        }

        .title {

          &:before,
          &:after {
            transform: translate(0, 0);
            transition-delay: .15s;
          }
        }

        .desc-wrap {
          opacity: 1;
          transition-delay: .2s;
        }
      }
    }

    .product_category {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @include transition(.6s);
    }
  }
}
