.howtoorder {
  padding: 100px 0;

  .title {
    text-align: center;
    margin-bottom: 40px;
  }

  .subtitle {
    font-size: 18px;
    margin-bottom: 40px;
  }

}

.order-form {

  .wpcf7-form-control-wrap {
    display: block;

    @include media-up(l) {
      margin: 0 10px 20px;
    }
  }

  .wpcf7-not-valid-tip {
    font-size: .735em;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    margin-bottom: 25px;

    @include media-up(l) {
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: 0;
    }

    * {
      width: 100%;
    }

    select {
      display: none;
      visibility: hidden;
    }

    .select {
      position: relative;
    }

    .input,
    .select-styled {
      width: 100%;
      min-height: 48px;
      margin: auto;
      padding: 10px 20px;
      background: $white;
      border: 1px solid $gray-500;
      border-radius: 3px;
      font-size: .875em;

      &:focus {
        border-color: $dark;
        outline: 0;
      }
    }

    .select-styled {
      position: relative;
      line-height: 1.9em;

      &:after {
        content: '\f358';
        font-family: 'Font Awesome 5 Free';
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        @include transition;
      }

      &.active {
        border-color: $dark;

        &:after {
          transform: translateY(-50%) rotate(-180deg);
        }
      }
    }

    .select-options {
      display: none;
      position: absolute;
      top: 48px;
      max-height: 300px;
      padding: 0;
      margin: 0;
      background: $white;
      box-shadow: 0 5px 15px rgba($dark, .2);
      border-radius: 0 0 3px 3px;
      font-size: .875em;
      list-style: none;
      overflow: scroll;
      z-index: 1;

      li {
        padding: 10px 20px;
        @include transition;

        &:hover {
          background: $gray-200;
        }
      }
    }

    form {
      width: 100%;
    }
  }

  .bottom {

    @include media-down(l) {
      margin-top: 20px;
    }

    .text-area {
      width: 100%;
      min-height: 48px;
      margin: auto;
      padding: 10px 20px;
      background: $white;
      border: 1px solid $black;
      border-radius: 3px;
      font-size: .875em;

      &:focus {
        border-color: $dark;
        outline: 0;
      }
    }
  }

  .submit-wrap {
    text-align: right;
    margin-top: 10px;

    @include media-up(l) {
      margin-right: 10px;
    }
  }

  .ajax-loader {
    display: none;
  }

  .button {
    cursor: pointer;
  }

  .info {
    margin: 0 10px 20px;
    font-size: 20px;
  }
}
