.inner-division {
  padding-bottom: 70px;

  .d-link {
    position: relative;
    text-decoration: none;
    overflow: hidden;

    &:hover {

      .d-image {
        transform: scale(1.1);

        * {
          transform: none;
        }
      }

      .title {
        color: $darker;
      }
    }

    .d-image {
      @include transition(3s);
    }

    .title {
      @include transition;
    }
  }

  .lr {
    margin-bottom: 50px;

    .d-link {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      width: 100%;
      margin-bottom: 50px;

      &:nth-child(even) {
        flex-direction: row-reverse;

        .text-wrap {
          @include media-up(m) {
            margin-right: -180px;
          }

          @include media-up(l) {
            margin-right: -80px;
          }

          @include media-up(xl) {
            margin-right: -110px;
          }
        }
      }

      .d-image {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;

        @include media-up(m) {
          position: relative;
        }

      }

      .text-wrap {
        background: $gray-100;
        padding: 30px;
        margin: 60px 0;
        color: $color-text-dark;
        opacity: .8;

        @include media-up(m) {
          margin-left: -180px;
        }

        @include media-up(l) {
          margin-left: -80px;
        }

        @include media-up(xl) {
          margin-left: -110px;
        }

        .description {
          font-size: .875em;
        }
      }
    }
  }

  .d-image-wrap {
    margin-bottom: 30px;

    .d-image {
      position: relative;
      height: 230px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .style1 {

    .d-link {
      display: block;

      &:hover {

        .item_c {
          opacity: 1;
          z-index: 1;

          &_line-l,
          &_line-r {
            height: 100%;
          }

          &_line-t,
          &_line-b {
            width: 100%;
          }
        }

        .d-image {
          transform: none;

          &:before {
            background: rgba($darker, .7);
          }
        }
      }

      .inv-button {
        display: none;
      }
    }

    .item_c {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      @include transition(1s);

      &_lines {
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
      }

      &_line-b,
      &_line-l,
      &_line-r,
      &_line-t {
        position: absolute;
        background-color: #fff;
        @include transition(.4s);
      }

      &_line-l,
      &_line-r {
        width: 2px;
        height: 0;
      }

      &_line-t,
      &_line-b {
        width: 0;
        height: 2px;
      }

      &_line-t {
        top: 0;
        left: 0;
      }

      &_line-r {
        top: 0;
        right: 0;
      }

      &_line-b {
        bottom: 0;
        right: 0;
      }

      &_line-l {
        bottom: 0;
        left: 0;
      }
    }

    .d-image {

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba($black, .35);
        @include transition(.9s);
      }

      .text-wrap {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        width: 100%;
        text-align: center;
        color: $white;

        .d-title {
          margin: 0;
          padding: 30px 10px 15px;
          font-size: 1.625em;
          font-weight: 300;
          line-height: 1.2;
          color: $white;
          text-transform: uppercase;
        }

        .d-subtitle {
          padding-bottom: 5px;
        }

        .inv-button {
          border-color: $white;
          color: $white;

          &:hover {
            background: transparent;
          }
        }
      }
    }

    .text-bottom-wrap {
      display: none;
    }
  }

  .style2 {

    .d-link {
      display: block;

      &:hover {

        .d-image {
          transform: none;

          &:before {
            background: rgba($black, .35);
          }

          .text-wrap {
            display: block;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            height: auto;
            width: 100%;
            text-align: center;

            .d-title,
            .d-subtitle {
              display: none;
            }

            .inv-button {
              display: inline-block;
              border-color: $white;
              color: $white;

              &:hover {
                background: transparent;
              }
            }
          }
        }
      }
    }

    .d-image {

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: transparent;
        @include transition(.9s);
      }

      .text-wrap {
        display: none;

        .inv-button {
          display: none;
          @include transition(.9s);
        }
      }
    }

    .text-bottom-wrap {
      display: block;
      background: $gray-100;
      padding: 15px;

      .d-title {
        margin-bottom: 0;
        font-family: $font-family-body;
        font-size: 1.625em;
      }
    }
  }

  .style3 {
    .d-link {
      display: block;

      &:hover {

        .d-image {
          transform: none;

          &:before {
            background: rgba($black, .35);
          }

          .text-wrap {
            display: block;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            height: auto;
            width: 100%;
            text-align: center;

            .d-title,
            .d-subtitle {
              display: none;
            }

            .inv-button {
              display: inline-block;
              border-color: $white;
              color: $white;

              &:hover {
                background: transparent;
              }
            }
          }
        }
      }
    }

    .d-image {

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: transparent;
        @include transition(.9s);
      }

      .text-wrap {
        display: none;

        .inv-button {
          display: none;
          @include transition(.9s);
        }
      }
    }

    .text-bottom-wrap {
      display: block;
      padding: 15px 0;

      .d-title {
        margin-bottom: 0;
        font-family: $font-family-body;
        font-size: 1.625em;
        text-transform: uppercase;
      }
    }
  }

  .style4 {

    .d-link {
      display: block;

      &:hover {

        .item_c {
          opacity: 1;
          z-index: 1;

          &_line-l,
          &_line-r {
            height: 100%;
          }

          &_line-t,
          &_line-b {
            width: 100%;
          }
        }

        .d-image {
          transform: none;

          &:before {
            opacity: 1;
            width: 100%;
            height: 100%;
          }

          .text-wrap {

            &:before {
              content: none;
            }
          }
        }
      }
    }

    .item_c {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      @include transition(1s);

      &_lines {
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
      }

      &_line-b,
      &_line-l,
      &_line-r,
      &_line-t {
        position: absolute;
        background-color: #fff;
        @include transition(.4s);
      }

      &_line-l,
      &_line-r {
        width: 2px;
        height: 0;
      }

      &_line-t,
      &_line-b {
        width: 0;
        height: 2px;
      }

      &_line-t {
        top: 0;
        left: 0;
      }

      &_line-r {
        top: 0;
        right: 0;
      }

      &_line-b {
        bottom: 0;
        right: 0;
      }

      &_line-l {
        bottom: 0;
        left: 0;
      }
    }

    .d-image {

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba($black, .35);
        opacity: 0;
        @include transition(.4s);
      }

      .text-wrap {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        width: 100%;
        text-align: center;
        color: $white;

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: rgba($black, .35);
          @include transition(.9s);
        }

        .d-title {
          position: relative;
          margin: 0;
          padding: 30px 10px;
          font-size: 1.625em;
          font-weight: 300;
          line-height: 1.2;
          color: $white;
          text-transform: uppercase;
        }

        .d-subtitle,
        .inv-button {
          display: none;
        }
      }
    }

    .text-bottom-wrap {
      display: none;
    }
  }

  .inner-text {
    margin-top: 30px;
    font-size: .875em;
    line-height: 1.735em;

    .white {

      p {
        margin-bottom: 0;
      }
    }

    .gray {
      background: $gray-100;
      padding: 20px;

      p {
        margin-bottom: 0;
      }
    }
  }

  .inner-button {
    margin: 60px 0 30px;

    a {
      margin: 0 auto;
    }
  }
}