.inner-page,
.massage-pools {
  padding-bottom: 100px;

  .one-block,
  .two-blocks,
  .three-blocks,
  .four-blocks {
    align-items: center;
  }

  .h-image {
    width: 100%;
  }

  .h-image-wrap {
    margin-bottom: 30px;

    .i-link {
      display: block;
      overflow: hidden;

      &:hover {

        img {
          transform: scale(1.1);
        }
      }

      img {
        @include transition(3s);
      }
    }

    .description {
      padding: 10px 20px;
      font-size: .875em;
      line-height: 1.75em;
      text-align: center;
    }
  }

  .inner-text {
    margin-top: 30px;
    font-size: .875em;
    line-height: 1.735em;

    h1,
    h3 {
      text-align: center;
    }

    .important {
      font-size: 1.2em;
    }

    .gray {
      background: rgba($darker, .9);
      padding: 60px 30px;
      color: $white;

      &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: calc(100% + 30px);
        background: $cyan;
        top: 0;
        left: -30px;
        z-index: -1;

        @include media-up(s) {
          width: calc(100% + 60px);
        }
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $white;
      }
    }
  }

  .inner-button {
    margin: 60px 0 30px;

    a {
      margin: 0 auto;
    }
  }

  .video-container {
    margin: 30px auto;

    video {
      width: 100%;
    }
  }

  .embed-video {
    margin-top: 30px;

    iframe {
      width: 100%;
    }
  }

  .left-right {
    align-items: center;
    padding: 30px 0;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }


    .lr-image-wrap {

      .i-link {
        display: block;
        overflow: hidden;

        &:hover {

          img {
            transform: scale(1.1);
          }
        }

        img {
          @include transition(3s);
        }
      }

      .image {
        width: 100%;
      }
    }

    .lr-text-wrap {
      margin-top: 30px;

      &.style {
        padding: 30px;

        &.blue {
          background-color: rgba($cyan, .3);
        }

        &.green {
          background-color: rgba($green, .3);
        }

        &.orange {
          background-color: rgba($orange, .3);
        }

        &.red {
          background-color: rgba($red, .3);
        }

        &.gray {
          background-color: rgba($gray-100, .3);
        }
      }



      @include media-up(m) {
        margin-top: 0;
      }

      .description {
        font-size: .875em;
        line-height: 1.75em;
      }
    }
  }
}

