.single-prod {
  padding: 100px 0;

  .title {
    font-size: 1.625em;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
  }

  a {

    &:hover {
      color: inherit;
      text-decoration: none;

      img {
        transform: scale(1.1);
      }
    }
  }

  .border-img {
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      @include transition(1.5s)
    }
  }

  .thumbs {
    margin-top: 30px;

    .pool-thumbs {
      margin: 10px;
      cursor: pointer;

      img {
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba($black, .15);
      }
    }

    .slick-dots {
      list-style-type: none;
      top: -30px;
      bottom: auto;

      .slick-active {

        button {
          background: $black;
        }
      }

      li {
        margin: 0 .25rem;

        .slick-active {

          button {
            background-color: $black;
            width: .75rem;
            height: .75rem;
          }
        }
      }

      button {
        display: block;
        width: .5rem;
        height: .5rem;
        padding: 0;
        border: 1px solid $black;
        border-radius: 100%;
        background-color: transparent;
        @include transition;

        text-indent: -9999px;
      }
    }
  }

  .product-id {
    display: inline-block;
    padding: 5px 10px;
    background: $gray-200;
    font-size: 1.125em;
    margin-bottom: 20px;
  }

  .tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 30px;

    .tab {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      background: $white;
      border: 1px solid $gray-200;
      border-bottom: transparent;
      font-size: 1.125em;
      font-weight: 600;
      z-index: 1;
      @include transition;

      &.inactive {
        background: $gray-100;
        cursor: pointer;

        &:hover {
          border-color: $orange;
        }
      }
    }
  }

  .container {
    position: relative;
    top: -1px;
    padding: 15px;
    background: $white;
    border: 1px solid $gray-200;

    @include media-up(m) {
      padding: 30px;
    }

    &.specification {

      .spec-table {
        @include make-wrapper;
        background: $gray-100;

        .spec-row {
          @include make-wrap;
          background: $white;
          margin-bottom: 4px;
        }
      }

      .half {
        padding: 5px 10px;
        word-break: break-all;

        &.left {
          width: 60%;

        }

        &.right {
          width: 40%;

        }
      }
    }
  }

  .similar-title {
    margin-top: 60px;
  }

  .similar-products {

    .similar-single {
      padding: 0 15px;

      @include media-up(m) {
        padding: 0 20px;
      }

      .title {
        margin-bottom: 15px;
        font-size: 1.25em;
      }

      .similar-image {

        a {

          &:hover {

            .border-img {
              transform: scale(1.05);
            }
          }
        }

        .border-img {
          width: 100%;
          height: auto;
          @include transition(2s)
        }

        .image {
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          width: 100%;
          height: 150px;

          @include media-up(xl) {
            height: 200px;
          }
        }
      }
    }
  }

  .images-wrap {

    .border-img {

      &:hover {

        .glow-wrap {

          .glow {
            transform: rotate(45deg) translate(450%, 0);
            transition: all 1s cubic-bezier(.645, .045, .355, 1);
          }
        }
      }

      .p-image {
        object-fit: cover;
        display: block;
        transition: all .5s cubic-bezier(.645, .045, .355, 1);
      }

      .glow-wrap {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        margin-top: -10px;

        .glow {
          display: block;
          position: absolute;
          width: 100%;
          height: 400%;
          background: rgba(255, 255, 255, .2);
          top: 0;
          filter: blur(5px);
          transform: rotate(45deg) translate(-450%, 0);
          transition: all .5s cubic-bezier(.645, .045, .355, 1);
        }
      }
    }
  }
}

.product-popup {
  display: none;
  padding: 40px 30px;
  border-radius: 7px;
  overflow: scroll;

  @include media-up(m) {
    overflow: hidden;
  }

  .description {
    margin-top: 30px;
  }
}

.post-archive {
  padding: 100px 0;
}

.products-archive {
  padding: 100px 0;

  .link {
    position: relative;
    display: block;
    @include transition(.6s);

    @include media-up(s) {

      &:nth-child(3n) {
        margin-top: 50px;
      }

      &:nth-child(3n+1) {
        margin-top: 30px;
      }

      &:nth-child(3n+2) {
        margin-top: 80px;
      }
    }

    @include media-up(m) {

      &:nth-child(3n) {
        margin-top: 50px;
      }

      &:nth-child(3n+1) {
        margin-top: 10px;
      }

      &:nth-child(3n+2) {
        margin-top: 90px;
      }
    }

    &:hover {

      .view {
        opacity: 1;
        transition: opacity .8s ease-out;
      }

      .title-wrap {

        h4 {
          opacity: 0;
          transition: opacity .1s ease-out;
        }
      }
    }

    .view {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      text-align: center;
      z-index: 2;
      transition: opacity .1s ease-in;
    }

    .title-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      background: rgba($black, .6);
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 15px;
      text-align: center;
      z-index: 2;

      h4 {
        margin-bottom: 0;
        color: $white;
        transition: opacity 1.2s ease-in-out;
      }
    }
  }

  .posts {
    margin-bottom: 40px;
    justify-content: center;
  }

  a {

    &:hover {
      text-decoration: none;

      img {
        transform: scale(1.1);
      }

      .post {

        .excerpt {

          .read-more {
            right: -50px;

            &:after {
              width: 0;
              right: 0;
            }

            &:before {
              width: 40px;
              left: -50px;
            }
          }
        }
      }
    }
  }

  .post {

    .blog-image {
      position: relative;
      overflow: hidden;

      &:before {
        content: '';
        width: 0;
        position: absolute;
        height: 0;
        padding: 25%;
        background-color: rgba($orange, .8);
        border-radius: 50%;
        top: 50%;
        left: 50%;
        z-index: 2;
        transition: transform .4s ease;
        will-change: transform;
        transform: translate(-50%, -50%) scale(0);
      }

      &:hover {

        &:before {
          transform: translate(-50%, -50%) scale(4);
          transition-duration: .8s;
        }

        .text-wrap {
          transition-duration: .2s;
          transform: translate(-50%, -50%);
        }

        img {
          transform: scale(1.2) rotate(5deg);
        }
      }

      img {
        width: 100%;
        height: auto;
        transition: transform .4s cubic-bezier(.71, .05, .29, .9);
        will-change: transform;
        transform: scale(1) rotate(0);
        @include transition(3s)
      }

      .text-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 20px;
        transform: translate(-200%, -50%);
        transition: transform .4s ease;
        will-change: transform;
        text-align: center;
        color: $white;
        z-index: 3;

        .title {
          color: $white;
        }
      }
    }


    .date-title {
      padding: 20px;
      font-family: $font-family-sans-serif;

      p,
      h2 {
        margin: 0;
      }

      .entry-title {
        font-size: 1.5em;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
      }

    }

    .excerpt {
      padding: 0 15px;
      font-size: .875em;

      .read-more {
        position: relative;
        font-weight: 600;
        color: $headings-color;
        right: 0;
        @include transition;

        &:hover {
          color: $dark;
        }

        &:before,
        &:after {
          content: '';
          display: block;
          height: 2px;
          background: $darker;
          position: absolute;
          top: 8px;
          @include transition(1s);
        }

        &:before {
          width: 0;
          left: 0;
        }

        &:after {
          width: 30px;
          right: -40px;
        }
      }
    }
  }

  .see-more {
    margin: 0 auto;

    &:hover {
      color: $white;
    }
  }
}
