.references {
  padding: 70px 0 100px;

  .reference {
    margin-bottom: 30px;
    @include transition;

    &:hover {
      transform: scale(1.05);
    }

    &.hide {
      display: none;
      opacity: 0;
    }

    .r-top {
      background: $gray-100;
      padding: 15px 20px;
    }

    .r-title {
      margin-bottom: 5px;
      @include spacing(0);
    }

    .r-location {
      font-family: $font-family-sans-serif;
      font-size: .875em;
      color: $color-text-dark;

      i {
        margin-right: 5px;
      }
    }

    .r-description {
      background: $gray-200;
      padding: 10px 20px;
      font-size: .875em;
      line-height: 1.4;

      p {
        margin-bottom: 0;
      }
    }
  }

}

.load-more {
  margin-top: 10px;

  a {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 43px;
    height: 43px;
    border: 1px solid $black;
    border-radius: 50%;
    text-align: center;
    line-height: 43px;
    color: $color-text-dark;
    @include transition;

    &:hover {
      background: $darker;
      border: 1px solid $darker;
      color: $white;
    }

  }
}
