.setting-up {
  padding: 60px 0 40px;

  .s-title {
    text-align: center;
  }

  .s-feature {

    a {
      display: block;
      overflow: hidden;

      &:hover {
        text-decoration: none;

        img {
          transform: scale(1.1);
        }
      }

      img {
        width: 100%;
        height: auto;
        @include transition(3s)
      }
    }

    iframe {
      width: 100%;
      pointer-events: none;
    }
  }

  .gallery-wrap {
    margin: 10px 0 60px;

    .image {
      position: relative;
      margin-bottom: 15px;
      padding: 0 7.5px;

      &:last-child {
        margin-bottom: 0;
      }

      @include media-up(l) {
        height: 175px;
      }

      @include media-up(xl) {
        height: 220px;
      }

      a {
        display: block;
        overflow: hidden;

        &:hover {
          text-decoration: none;

          img {
            transform: scale(1.1);
          }
        }

        img {
          width: 100%;
          height: auto;
          @include transition(3s)
        }
      }
    }

    .slick-next,
    .slick-prev {
      position: absolute;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      bottom: auto;
      top: 50%;
      background-color: $white;
      border-radius: 50%;
      border: 1px solid $white;
      color: #fff;
      padding: 0;
      outline: none;
      transform: translateY(-50%);
      opacity: .5;
      z-index: 40;
      @include transition;

      &:hover {
        background-color: $white;
        box-shadow: 0 0 0 5px rgba($white, .3);
        opacity: 1;
      }

      &:before {
        content: none;
      }

      i {
        font-size: 16px;
        color: $black;
      }

      @include media-up(l) {
        display: flex !important; //sass-lint:disable-line no-important

        .loaded & {
          animation: animateButtonFadeIn $fadein-delay forwards;
        }
      }
    }
  }
}