.video {
  padding: 100px 0;

  .single-video,
  .single-text,
  .featured-video {
    margin-bottom: 50px;
  }

  .video-gallery {
    margin-top: 50px;

    @include media-up(m) {
      margin-top: 100px;
    }
  }

  .poster {
    position: relative;
    display: block;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    //min-height: 360px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba($black, .2);
      z-index: 1;
    }

    &:hover {

      .hover-box {

        .hover-link {

          &:before {
            content: '';
            position: absolute;
            display: block;
            width: 100px;
            height: 100px;
            box-sizing: border-box;
            margin-left: -23px;
            margin-top: -23px;
            border-radius: 50%;
            background-color: $white;
            animation: pulse-ring 1.25s cubic-bezier(.215, .61, .355, 1) infinite;
          }
        }
      }
    }

    .hover-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

      .hover-link {
        display: block;
        padding: 10px;
        border: 3px solid $white;
        border-radius: 50%;
        text-align: center;
        width: 80px;
        height: 80px;

        i {
          color: $white;
          font-size: 40px;
          line-height: 55px;
          margin-left: 7px;
        }
      }
    }
  }

  video {
    //display: none;
    position: relative;
    width: 100%;
    object-fit: inherit;
  }

  iframe {
    position: relative;
    width: 100%;
    //z-index: -1;
  }

  .video-desc {
    margin-top: 20px;
  }
}

//video {
//
//  &::-internal-media-controls-download-button {
//    display: none !important;
//  }
//
//  &::-webkit-media-controls-enclosure {
//    overflow: hidden !important;
//  }
//
//  &::-webkit-media-controls-panel {
//    width: calc(100% + 30px) !important;
//  }
//}

@keyframes pulse-ring {

  0% {
    transform: scale(.33);
  }

  80%,
  100% {
    opacity: 0;
  }
}