.page-template-template-ideas {

  .rotate {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $black;
    color: $white;
    text-align: center;
    font-size: 22px;
    padding-top: 200px;

    @include media-portrait {
      display: block;
    }
  }

  .site {

    .site-content {
      padding-top: 0;
    }
  }

  .site-main {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .section-social {
    z-index: 1001;

    &.vertical {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.vertical-nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background: rgba($black, .4);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 999;

  .nav-item {

    a {
      padding: 0 5px;
      color: $white;
      display: block;
      font-size: 12px;
      line-height: 37px;
      font-weight: bold;
      border-bottom: 2px solid rgba(51, 51, 51, .65);
      text-align: center;
      cursor: pointer;
      @include transition;

      &:hover {
        border-color: $white;
      }
    }
  }
}

.section {

  &.entering {
    position: relative;
    z-index: 1000;

    .back-image {
      position: relative;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: $black;
      background-attachment: fixed;
      width: 100vw;
      height: 100vh;
      padding: 20px;

      .bottom {
        position: absolute;
        bottom: 130px;
        margin: auto;
        left: 0;
        right: 0;
        z-index: 3;
        width: 237px;

        .button {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  &.slide {

    .content-wrapper {
      will-change: transform;
      backface-visibility: hidden;
    }

    .back-image {
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: $black;
      background-attachment: fixed;
      width: 100vw;
      height: 100vh;
      padding: 20px;

      @include media-up(m) {
        padding: 60px 40px;
      }

      .wrap {
        justify-content: center;

        &.bottom {
          position: absolute;
          bottom: 130px;
          margin: auto;
          left: 0;
          right: 0;
          z-index: 3;
          //width: 237px;
        }

        .title-wrap {
          text-align: center;
          font-size: .875em;

          @include media-up(m) {
            font-size: 1em;
          }

          .white {
            color: $white;
          }

          .black {
            color: $black;
          }
        }
      }
    }
  }
}
