$animation-time: 2.2s;
$fadein-delay: 3.2s;
$animate-image-scale: 15s;
$front-image-opacity: .4;
$back-image-opacity: .15;

.site-header {

  .site-navigation {

    @include media-up(m) {

      .menu-item-has-children {

        & > .sub-menu {
          display: none;
          width: auto;
          padding: .2em 1.5em;
          border-top: solid #e6e8e9 1px;
          position: absolute;
          top: 100%;
          background-color: #f4f5f7;
          animation: fadeIn .5s;
          box-shadow: 0 4px 0 0 rgba(0, 0, 0, .05);

          &.active {
            display: block;
          }

          > .menu-item {
            padding: 5px 0;
            margin: 0;

            & > a {
              font-size: .875em;
              border-bottom: 0;

              &:hover {
                color: $orange;
              }
            }
          }
        }
      }

      .menu-dropdown-menu-container {
        width: 100%;

        .menu-item-has-children {

          &.image-dropdown,
          &.list-dropdown {

            & > .sub-menu {
              display: none;
              flex-flow: row wrap;
              padding: 1em 3em;
              border-top: solid #e6e8e9 1px;
              position: absolute;
              top: 100%;
              right: 0;
              left: 0;
              background-color: #f4f5f7;
              animation: fadeIn .5s;
              box-shadow: 0 4px 0 0 rgba(0, 0, 0, .05);

              &.active {
                display: flex;
              }

            & > .menu-item {
                padding: 1em;
                flex: 0 0 25%;
                max-width: 25%;
                margin: 0;

                & > a {
                  font-size: .975em;
                  font-weight: 700;
                  line-height: 1.2;
                  margin: 0  0 10px;
                  padding: 0;
                }

                & > .sub-menu {
                  display: block;
                  padding: 0;
                  list-style: none;
                  position: relative;
                  top: auto;
                  border: 0;
                  box-shadow: none;

                  > .menu-item {
                    margin: 0;
                    padding: 0;
                    font-size: .875em;
                    font-weight: 300;

                    & > a {
                      font-size: 1em;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }


  .top-header {
    width: 100%;
    border-bottom: 1px solid $gray-300;
    justify-content: space-between;
    margin: 0;

    @include media-down(xs) {
      display: none;
    }

    .menu {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;

      .menu-item {
        padding: 5px 10px;
        font-size: 10px;
        color: $white;
        position: relative;
        cursor: pointer;

        @include media-up(m) {
          padding: 8px 25px;
          font-size: 12px;
        }

        &:first-child {
          background: $orange;
        }

        &:nth-child(2) {
          background: $gray-700;
        }

        a {
          color: $white;
          font-weight: 700;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .bottom-header {
    width: 100%;
    margin: 0;

    @include media-down(xs) {
      margin-top: 30px;
    }
  }


  .right-nav {
    line-height: 40px;

    .search-trigger {
      display: inline-block;

      a {
        padding: 3px 6px;

        i {
          @include transition;

          &:hover {
            color: $orange;
          }
        }
      }

      i {
        color: $black;
        font-size: 17px;
      }
    }

    .lang-switch {
      display: inline-block;

    }

    &.ls-m {
      margin-left: auto;
      margin-right: 20px;

      @include media-up(m) {
        display: none;
      }
    }

    &.ls-d {
      display: flex;
      margin-top: 18px;

      .search-trigger {
        align-self: center;
      }

      @include media-down(m) {
        display: none;
      }
    }
  }

  .wpml-ls-legacy-dropdown-click {
    width: auto;
  }

  .wpml-ls-item-toggle {
    background: transparent;
    border: 0;

    &:after {
      border: .175em solid transparent;
      border-top: .3em solid;
      color: #000;
    }
  }
}

.header-section {
    position: relative;
    width: 100%;
    overflow: hidden;

    &.full {

      .header-slider {

        .header-slide {
          height: 80vh;

          @include media-landscape {
            height: 100vh;
          }

          @include media-up(m) {
            height: 70vh;
          }

          @include media-up(xl) {
            height: 85vh;
          }

          &.inner {
            height: 80vh;

            @include media-landscape {
              height: 100vh;
            }

            @include media-up(m) {
              height: 70vh;
            }

            @include media-up(xl) {
              height: 85vh;
            }
          }
        }
      }

      .header-image {
        height: 80vh;

        @include media-landscape {
          height: 100vh;
        }

        @include media-up(m) {
          height: 80vh;
        }

        @include media-up(xl) {
          height: 90vh;
        }
      }
    }

    .header-slider {
      position: initial;
      z-index: 10;
      height: 100%;

      .slick-list {
        height: 100%;
      }

      .header-slide {
        background-color: $white;
        height: 50vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        @include media-landscape {
          height: 100vh;
        }

        &.inner {
          left: 0; top: 0;
          width: 100%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          height: 60vh;

          @include media-landscape {
            height: 100vh;
          }

          .inner-image {

            &.animated-image {
              animation: animateImageFadeIn $animate-image-scale ease forwards infinite;
            }
          }
        }

        .inner-image {
          position: absolute;
          left: 0; top: 0;
          width: 100%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          height: 100%;

          @include media-landscape {
            height: 100vh;
          }

          &.animated-image {
            animation: animateImageFadeIn $animate-image-scale ease forwards infinite;
          }
        }

        &.slick-current {

          .animated-image {
            animation-play-state: running;
          }
        }
      }
    }

    .video-container {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      margin-left: 0;
      overflow: hidden;

      &.-external {
        height: 60vh;

        iframe {
          position: absolute;
          top: 50%; left: 50%;
          min-width: 100%;
          min-height: 100%;
          width: auto; height: auto;
          z-index: 0;
          transform: translateX(-50%) translateY(-50%);
          background: $dark;
          transition: 1s;
        }
      }

      .site-header-video {
        width: 100%;
        height: 100%;
        z-index: 0;
        background: $dark;
        transition: 1s;
      }
    }

    .wrapper {
      position: absolute;
      left: 50%; bottom: auto; top: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 10px);
      text-align: center;
      z-index: 2;

      @include media-up(m) {
          width: 100%;
          text-align: left;
          padding: 0;
      }

      .wrap {
          align-items: center;
        }
    }

    .header-image {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 50vh;
    }

    .header-info {
      text-align: left;
      color: $white;

      &.home {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      &.black {

        .header-title {
          background: rgba($orange, .5);
          padding: 10px;
          color: $white;
          width: max-content;
        }

        .header-subtitle {
          background: rgba($black, .3);
          padding: 10px;
          color: $white;
          width: max-content;
        }

        a {
          color: $white;

          &:hover {
            color: $white;
          }

          &.link {

            &:hover {
              border-color: $darker;
            }
          }
        }
      }
    }

    .header-title {
      margin-bottom: 10px;
      font-size: 1.25em;
      font-weight: 700;
      color: $white;
    }

    .header-subtitle {
      margin-bottom: 0;
      font-size: .875em;
      color: $white;
    }

    .header-link {

      &.home {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 12px;
        text-align: right;
        overflow: hidden;

        span {
          color: $white;
        }

        i {
          margin-left: 5px;
          color: $white;
        }
      }
    }

    .phone {
      margin-left: 15px;
      color: $headings-color;

      a {
        color: $headings-color;

        &:hover {
          color: $dark;
          text-decoration: none;
        }
      }

      i {
        transform: scaleX(-1);
      }
    }

    .slick-next,
    .slick-prev {
      display: none;
      position: absolute;
      justify-content: center;
      align-items: center;
      width: 40px; height: 40px;
      bottom: auto; top: 50%;
      background-color: $white;
      border-radius: 50%;
      border: 1px solid $white;
      color: #fff;
      padding: 0;
      outline: none;
      transform: none;
      opacity: .5;
      z-index: 40;
      @include transition;

      &:hover {
        background-color: $white;
        box-shadow: 0 0 0 5px rgba($white, .3);
        opacity: 1;
      }

      &:before {
        content: none;
      }

      i {
        font-size: 16px;
        color: $black;
      }

      @include media-up(l) {
        display: flex !important; //sass-lint:disable-line no-important

        .loaded & {
          animation: animateButtonFadeIn $fadein-delay forwards;
        }
      }
    }

    .slick-next {
      right: 3%;
    }

    .slick-prev {
      left: 3%;
    }

    .slick-dotted {

      &.slick-slider {
        margin-bottom: 0;
      }
    }

  .slick-dots {
    list-style-type: none;
    bottom: 25px;

    li {
      margin: 0 .25rem;

      .slick-active {

        button {
          background-color: $white;
          width: .75rem;
          height: .75rem;
        }
      }
    }

    button {
      display: block;
      width: .5rem;
      height: .5rem;
      padding: 0;
      border: 1px solid $white;
      border-radius: 100%;
      background-color: transparent;
      @include transition;

      text-indent: -9999px;
    }
  }
}

.section-social {
  position: absolute;
  height: 180px;
  z-index: 1;

  .header-social {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);

    .social {
      list-style: none;
      margin: 0;
      padding: 0;
      transform: translate(-220px, 0);

      li {
        display: block;
        margin-top: 5px;
        background: rgba($black, .36);
        width: 260px;
        text-align: right;
        padding: 0;
        border-radius: 0 30px 30px 0;
        transition: all 1s;

        &:hover {
          transform: translate(90px, 0);
          background: rgba($white, .4);

          a {
            text-decoration: none;
            opacity: 1;
          }

          i {
            color: $white;
            background: rgba($black, .36);
            transform: rotate(360deg);
            transition: all 1s;
          }
        }

        a {
          display: block;
          color: $black;
          padding: 5px;
          font-size: 12px;
          opacity: .5;
          @include transition;
        }

        i {
          margin-left: 10px;
          color: $black;
          background: $white;
          padding: 9px;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          font-size: 13px;
          text-align: center;
          transform: rotate(0deg);
        }
      }
    }
  }
}

@keyframes headerImageFadeOut {

  0%,
  30% {
    height: 100%;
  }

  85% {
    height: calc(100% - 105px);
    opacity: 1;
  }

  99.99% {
    opacity: 0;
  }

  100% {
    height: calc(100% - 105px);
    display: none;
    opacity: 0;
  }
}

@keyframes animateImageFadeIn {

  0% {
    transform: scale(1);
  }

  97% {
    opacity: 1;
  }

  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

