.newsletter {
  background: rgba($gray-100, .5);
  padding: 100px 0;
  text-align: center;

  .title {
    text-transform: uppercase;
  }

  .subtitle {
    font-size: .875em;
  }

  .form {
    display: flex;
    justify-items: stretch;
    margin-top: 20px;

    .input {
      width: 30%;
      min-height: 48px;
      margin: auto;
      padding: 10px 20px;
      border: 1px solid $black;
      border-radius: 3px;
      font-size: .875em;

      &:focus {
        border-color: $dark;
        outline: 0;
      }

      @include media-up(l) {
        margin: 0 10px;
      }
    }

    .button {
      cursor: pointer;
    }

    form {
      width: 100%;
    }

    .flex-form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex-wrap: nowrap;

      * {
        width: 100%;
        margin-bottom: 15px;
      }

      .button-wrap {
        position: relative;
        padding: 0;
        margin: 0;
        transition: background 5s cubic-bezier(.19, 1, .22, 1), border 1s cubic-bezier(.19, 1, .22, 1), color .6s cubic-bezier(.19, 1, .22, 1);
        text-align: center;
        overflow: hidden;
        cursor: pointer;

        input {
          width: 100%;
          margin: 0;
        }

        .mask {
          position: absolute;
          height: 100px;
          width: 200px;
          background-color: rgba(255, 255, 255, .5);
          transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
          transition: all 1.1s cubic-bezier(.19, 1, .22, 1);
        }

        &:hover {
          background-color: rgba(255, 255, 255, .05);
          border-color: #fff;
          box-shadow: 0 0 5px rgba(255, 245, 245, .8);
          transition: background 0s;

          .mask {
            background-color: #fff;
            transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
          }
        }

        &:active {
          background-color: #fff;

          a {
            color: #202020;
          }
        }
      }

      @include media-up(m) {
        flex-wrap: wrap;
        flex-direction: row;

        * {
          width: calc(50% - 20px);
          margin: 0 10px 15px;
        }
      }

      @include media-up(l) {
        flex-wrap: nowrap;
      }
    }
  }
}