.section {

  &.categories {
    padding: 60px 0;

    .categories-title {
      text-align: center;
    }

    .link {
      position: relative;
      height: 100%;
      width: 100%;
      padding: 0;
      overflow: hidden;
      border: 1px solid white;

      @include media-up(s) {
        flex: 1;
      }

      &:hover {

        .category-image {
          filter: none;
          -webkit-filter: grayscale(0%); //sass-lint:disable-line no-vendor-prefixes

          &:after {
            background: transparent;
          }
        }

        .line-1 {
          animation: move1 1500ms infinite ease;
        }

        .line-2 {
          animation: move2 1500ms infinite ease;
        }

        .line-3 {
          animation: move3 1500ms infinite ease;
        }

        .line-4 {
          animation: move4 1500ms infinite ease;
        }
      }

      .line-1 {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        background-color: $orange;
        left: 0;
        bottom: 0;
      }

      .line-2 {
        content: '';
        display: block;
        position: absolute;
        height: 1px;
        background-color: $orange;
        left: 0;
        top: 0;
      }

      .line-3 {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        background-color: $orange;
        right: 0;
        top: 0;
      }

      .line-4 {
        content: '';
        display: block;
        position: absolute;
        height: 1px;
        background-color: $orange;
        right: 0;
        bottom: 0;
      }
    }

    .category-image {
      min-height: 400px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); //sass-lint:disable-line quotes
      filter: gray; //sass-lint:disable-line no-duplicate-properties, no-color-keywords
      -webkit-filter: grayscale(100%); //sass-lint:disable-line no-vendor-prefixes
      @include transition(.4s);

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($black, .2);
        @include transition(.4s);
      }
    }

    .title-wrap {
      position: relative;
      width: 100%;
      padding: 20px 15px;
      z-index: 2;
    }

    .title {
      text-align: left;
      margin-bottom: 0;
      color: $white;
    }
  }
}


@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}

@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}