.section {

  &.gallery {
    padding: 60px 0;

    .title-wrap {
      background: $gray-100;
      padding: 40px 30px;
    }

    .images-wrap {
      padding: 0;

      .slick-prev {
        left: 21px;
        z-index: 1;

        &:before {
          color: $white;
          background: rgba($black, .6);
          border-radius: 50%;
          padding: 10px 15px;
        }
      }

      .slick-next {
        right: 42px;
        z-index: 1;

        &:before {
          color: $white;
          background: rgba($black, .6);
          border-radius: 50%;
          padding: 10px 15px;
        }
      }
    }
  }

  .ing-wrap {

    &:nth-of-type(2n) {
      flex-direction: row-reverse;
    }
  }
}